:root {
	--primary-dark-cyan: hsl(185, 75%, 39%);
	--primary-very-dark-blue: hsl(229, 23%, 23%);
	--primary-dark-blue: hsl(227, 10%, 46%);
	--dark_gray: hsl(0, 0%, 91%);
}

.contenedor{  
    width: 350px;
    height: 400px;
    border-radius: 10px;
    background-color: white;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: hsl(185, 75%, 39%);
    font-family: 'Kumbh Sans', sans-serif;
}

.img-div{
    margin-top: -50px;
    display: flex;
    justify-content: center;
}

.img{
    border-radius: 50%;
    border: 4px solid white;
}

.font1{
    font-weight: 700;
    font-size: 18px;
}

.font2{
    font-weight: 400;
    font-size: 15px;
    color: var(--dark_gray);
}

.primer-div {
    background-image: url("/images/bg-pattern-card.svg");
    border-radius: 10px 10px 0 0;
    background-color: white;
    height: 150px;
}

.segundo-div {
    display: flex;
    justify-content: center;
    border-radius: 0px 0px 10px 10px;
    background-color: white;
    margin: 0;
    padding: 0;
}

.contenedor-stats {
    margin: 10px 37px;
    display: flex;
    flex-wrap: nowrap;
}

.contenedor-stats-inner{
    padding: 0px 20px;
    display: block;
    text-align: center;
}
